header{
  background-color: #BBBBBB;
}

.headerBox{
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

nav a:hover{
  color: #c78c19;
  text-decoration: underline;
}

footer{ 
  background: url(../imgs/bg.jpg);
  text-align: center;
  padding: 40px 0;
}

footer .copyrigth{
  color: #FFFFFF;
  margin: 20px 0 0;
  font-size: 13px;
}